@{ ViewData["Title"] = "blog"; }
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </nav>
        <h1 class="display-4">اخر الأخبار</h1>
        <p class="lead"></p>


    </div>
</div>
<section class="blog">
    <div class="continer">

        <div class="row">
            <div class="col-md-9 col-12">
                <div class="jumbotron">
                    <div class="blog-info">
                        <h1>وزارة الصحة الفلسطينية و الجامعة تكشفان وجود 67 حالة اصابة جديدة بمتغير دلتا من فيروس كورونة</h1>
                        <span>19/8/2021</span>
                        <p>تبعا للدراسات التي أجرتها مختبرات الجامعة العربية الأمريكية وبالتعاون مع وزارة الصحة الفلسطينية  والتي اكدت وجود حالات  اصابة جديدة بمتغير دلتا من فيروس كورونا التي تم رصد انتشارها السريع في بعض الدول،  قامت مختبرات الجامعة بدراسة عينات جديدة وصلتها من وزارة الصحة الفلسطينية و كشفت الفحوصات عن  67 حالة اصابة بمتغير دلتا B.1.617.2(الطفرة الهندية) و 3 حالات اصابة بمتغير ألفا (الطفرة البريطانية) B.1.1.7 . </p>
                        <a href="blog-det.html" class="btn btn-danger"> اقرأ المزيد</a>
                    </div>
                    <div class="blog-image">
                        <img src="image/صورة 1_1_1.jpg" alt="" style="width:300px;">

                    </div>

                </div>

                <div class="jumbotron">
                    <div class="blog-info">
                        <h1>الجامعة توقع اتفاقية تعاون وتبادل للخبرات مع النيابة العامة لدولة فلسطين</h1>
                        <span>الأحد, أغسطس 15, 2021</span>
                        <p>
                            وقع رئيس الجامعة العربية الأمريكية الأستاذ الدكتور علي زيدان أبو زهري والنائب العام لدولة فلسطين المستشار أكرم الخطيب، على اتفاقية تعاون وتبادل للخبرات بين الطرفين، وذلك في حرم الجامعة في مدينة رام الله.

                            حضر توقيع الإتفاقية كلا من، رئيس مجلس إدارة الجامعة العربية الأمريكية المؤسس الدكتور يوسف عصفور، والمستشار الأكاديمي لمجلس إدارة الجامعة العربية الأمريكية الرئيس المؤسس الأستاذ الدكتور وليد ديب، والوفد المرافق للنائب العام، تضمن كلا من، النائب العام المساعد أشرف عريقات، والنائب العام المساعد ياسر حماد، ورئيس نيابة الأحداث ثائر خليل.
                        </p>
                        <a href="blog-det.html" class="btn btn-danger"> اقرأ المزيد</a>
                    </div>
                    <div class="blog-image">
                        <img src="image/DS.jpg" alt="" style="width:300px;">

                    </div>

                </div>


                <div class="jumbotron">
                    <div class="blog-info">
                        <h1>وزارة الصحة الفلسطينية و الجامعة تكشفان وجود 67 حالة اصابة جديدة بمتغير دلتا من فيروس كورونة</h1>
                        <span>19/8/2021</span>
                        <p>تبعا للدراسات التي أجرتها مختبرات الجامعة العربية الأمريكية وبالتعاون مع وزارة الصحة الفلسطينية  والتي اكدت وجود حالات  اصابة جديدة بمتغير دلتا من فيروس كورونا التي تم رصد انتشارها السريع في بعض الدول،  قامت مختبرات الجامعة بدراسة عينات جديدة وصلتها من وزارة الصحة الفلسطينية و كشفت الفحوصات عن  67 حالة اصابة بمتغير دلتا B.1.617.2(الطفرة الهندية) و 3 حالات اصابة بمتغير ألفا (الطفرة البريطانية) B.1.1.7 . </p>
                        <a href="blog-det.html" class="btn btn-danger"> اقرأ المزيد</a>
                    </div>

                    <div class="blog-image">
                        <img src="image/صورة 1_1_1.jpg" alt="" style="width:300px;">

                    </div>

                </div>



                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <div>
                    <h2>Catogries</h2>
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">An active item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                <div class="mt-5">
                    <h2>Last News</h2>
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">An active item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                <div class="mt-5"><img src="image/طقس.jpeg" alt=""></div>
            </div>
        </div>
    </div>
</section>



